body {
	line-height: 1;
	position: relative;
	min-height: 100%;
	overflow-y: scroll;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #dddddd 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff),
		color-stop(100%, #dddddd) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #dddddd 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #dddddd 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #dddddd 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%, #dddddd 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#ffffff',
		endColorstr='#dddddd', GradientType=0 ); /* IE6-9 */
	background-attachment: fixed;
}

.basewrap {
	width: 960px;
	margin: 0 auto;
	position: relative;
}

#header {
	height: 88px;
}

#header-top {
	height: 52px;
	width: 100%;
}

#header-bot {
	height: 36px;
	width: 100%;
	border-top: 1ps solid #333;
}

#header-bot{
	background: #666;
}

#outer {
    float:left;
    overflow: hidden;
    background: #eee;
}

#inner {
    float:left;
    background: #555;
    position: relative;
    right:75%;
}

#side {
	width: 30%;
	float: left;
	position: relative;
    left: 70%;
	background:#646464;
}

#content {
	width: 70%;
	float: left;
	position: relative;
    left: 30%;  
	background : white;
	
}

.content {
	font-size: 12px; border : 1px solid #a8a8a8;
	background: #FFF;
	border: solid 1px #CCC;
	padding: 20px;
	box-shadow: 1px 3px 10px #CFCFCF;
	border-radius: 5px;
	border: 1px solid #a8a8a8;
	
}

#sidemenu{
	width:100%;
	height:100%;
}


#sidemenu li{
	height:33px;
	display:block;
	text-align: center;
}

#sidemenu li a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	display:block;
	margin:0 auto;
	padding:10px 0;
}

#sidemenu li a:hover{
	background:#008BE6;
}